body {
    background-color: rgba(10, 56, 124, 0.671);
}
.items {
    width: 300px;
    height: 350px;
}

.item {
    height: 100%;
    height: calc(100% / 5);
    /* display: none; */
}

#photo {
    width: 100%;
    display: block;
    height: 100%;
}

.big-img {
    width: 700px;
    height: 350px;
}

 .big-img > img {
    width: 100%;
    height: 100%;
    display: block;
}

.after , .before {
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    color:white;
    border-radius: 100%;
}

.after {
    bottom: 0;
}

.d-block {
    border: 3px solid white;
}

#information {
    color: white;
    width: 40%;
    position: absolute;
    bottom: 10%;
    right: 5%;
}